doctype html
html(lang="en")
  head
    title= title
    link(rel="shortcut icon" href="/assets/rarefavicon.png" type="image/x-icon")
    link(rel="api", href=`${api}`)
  body
    .feature-container
  script(type='module' src='/js/featured.js')
