block footer
  .footer-container.text-style2
    .footer-content
      .footer-text About
      .footer-text Write
      .footer-text Gift
      .footer-text Help
      .footer-text Contacts
      .footer-text Careers
      .footer-text Legal
