block footer
  .footer-container.text-style2
    .footer-content
      a.rare-logo-footer.text-style2(href='/') Rare
      a.rare-logo-footer.text-style2(href='https://smclaughlan.github.io/') Sean McLaughlan
      //- a.rare-logo-footer(href='https://github.com/smclaughlan')
      //-   img(src="/assets/github.png" height=25 alt="GitHub logo")
      //- a.rare-logo-footer(href='https://www.linkedin.com/in/sean-mclaughlan-0785031aa/')
      //-   img(src="/assets/linkedin.png" height=25 alt="LinkedIn logo")
      a.rare-logo-footer.text-style2(href='https://ianmagenta.github.io/') Ian Magenta
