extends layout.pug

block content
  .total-index-container
    .index-top-container
      .categories-container.text-style2
      .index-image-container
        img.index-image(src="/assets/indexheader.png")
    .top-stories-and-header-container
      .top-stories-header.heading-text.text-style1 Recent Stories
      .top-stories-container
    .main-stories-container
      .main-stories-left
      .main-stories-right
        .heading-text.text-style1 Popular Stories
  script(type="module" src="/js/index.js")
