extends layout.pug

block content
  .total-index-container
    .index-top-container
      .categories-container.text-style2
        //- .category Category 1
        //- .category Category 2
        //- .category Category 3
      .index-image-container
        img.index-image(src="/assets/indexheader.png")
    .top-stories-and-header-container
      .top-stories-header.heading-text.text-style1 Recent Stories
      .top-stories-container
        //- .article-container.text-style2
        //-   .article-title.text-style1 Title
        //-   .article-subheader Subheader
        //-   .article-author Author in Category
        //-   .article-date Jan 1, 2020
        //-   .article-time 5 min read
        //-   .article-likes Likes
        //- .article-container.text-style2
        //-   .article-title.text-style1 Title
        //-   .article-subheader Subheader
        //-   .article-author Author in Category
        //-   .article-date Jan 1, 2020
        //-   .article-time 5 min read
        //-   .article-likes Likes
        //- .article-container.text-style2
        //-   .article-title.text-style1 Title
        //-   .article-subheader Subheader
        //-   .article-author Author in Category
        //-   .article-date Jan 1, 2020
        //-   .article-time 5 min read
        //-   .article-likes Likes
    .main-stories-container
      .main-stories-left
        //- .article-container.text-style2
        //-   .article-title.text-style1 Title
        //-   .article-subheader Subheader
        //-   .article-author Author in Category
        //-   .article-date Jan 1, 2020
        //-   .article-time 5 min read
        //-   .article-likes Likes
        //- .article-container.text-style2
        //-   .article-title.text-style1 Title
        //-   .article-subheader Subheader
        //-   .article-author Author in Category
        //-   .article-date Jan 1, 2020
        //-   .article-time 5 min read
        //-   .article-likes Likes
        //- .article-container.text-style2
        //-   .article-title.text-style1 Title
        //-   .article-subheader Subheader
        //-   .article-author Author in Category
        //-   .article-date Jan 1, 2020
        //-   .article-time 5 min read
        //-   .article-likes Likes
      .main-stories-right
        .heading-text.text-style1 Popular Stories
        //- .article-container.text-style1
        //-   .article-title.text-style2 Title
        //-   .article-subheader Subheader
        //-   .article-author Author in Category
        //-   .article-date Jan 1, 2020
        //-   .article-time 5 min read
        //-   .article-likes Likes
        //- .article-container.text-style2
        //-   .article-title.text-style1 Title
        //-   .article-subheader Subheader
        //-   .article-author Author in Category
        //-   .article-date Jan 1, 2020
        //-   .article-time 5 min read
        //-   .article-likes Likes
        //- .article-container.text-style2
        //-   .article-title.text-style1 Title
        //-   .article-subheader Subheader
        //-   .article-author Author in Category
        //-   .article-date Jan 1, 2020
        //-   .article-time 5 min read
        //-   .article-likes Likes
  <script type="module" src="/js/index.js"></script>
  //- include footer.pug
