doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="/style.css")
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet">
  body
    .top-bar
      .inner-top-bar
        .rare-logo.text-style1 Rare
        a.sign-in-top.text-style2(href="/login") Sign in
        a.register-top.text-style2(href="/register") Register
block content
