extends layout.pug

block content
  .bio-container.text-style2
    .username Username here
    .member-since Rare member since Jan 2020
    .bio User bio here
  .profile-container.text-style2
    .articles-container
      .heading-text.text-style1 Authored Stories
      .article-container
        .article-title.text-style1 Title
        .article-subheader Subheader
        .article-author Author in Category
        .article-date Jan 1, 2020
        .article-time 5 min read
        .article-likes Likes
    .likes-container
      .heading-text.text-style1 Liked Stories
      .article-container
        .article-title Title
        .article-author Author
        .article-date Jan 1, 2020
  //- TODO - add markdown editor to change bio later
  //- <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  //- <script src="https://unpkg.com/easymde/dist/easymde.min.js">var easyMDE = new EasyMDE({element: document.getElementById('my-text-area')});</script>
  //- script(type='application/javascript' src='/js/md.js')
  script(type="module" src="/js/profile.js")
