extends layout.pug

block content
  .bio-container
    .username Username here
    .member-since Rare member since Jan 2020
    .bio User bio here
  .profile-container
    .articles-container
      .article-container
        .article-title Title
        .article-subheader Subheader
        .article-author Author in Category
        .article-date Jan 1, 2020
        .article-time 5 min read
        .article-likes Likes
    .likes-container
      .heading-text Liked Stories
      .article-container
        .article-title Title
        .article-author Author
        .article-date Jan 1, 2020
  script(type='application/javascript' src='/js/profile.js')
