extends layout.pug

block content
  .search-bar-container
    .search-label.text-style2 Enter search term
    input.search-box(name='searchBox' placeholder='search')
    button.site-button Search
  .main-search-container.hidden
    .articles-search-container
    .users-search-container
  script(type="module" src="/js/search.js")
