doctype html
title= title
link(rel="stylesheet" href="/style.css")
<link rel="shortcut icon" href="assets/rarefavicon.png" type="image/x-icon"/>
link(rel="api", href=`${api}`)
.form-container.text-style2
  .form-top
    a.exit-button(href="/splash") X
  .form-inner-container
    .register-text Sign in
    .register-instructions-text Enter your username and password
    .errors-container
    form.register-form(action="" method="")
      //- input(type="hidden" name="_csrf" value=csrfToken)
      input(type="text" name="userName" placeholder="enter username")
      input(type="password" name="password" placeholder="enter password")
      button.site-button(type="submit") Sign in
      button.guest-button.site-button(type="button") Guest sign in
script(type="module" src='js/signin.js')
