doctype html
link(rel="stylesheet" href="./style.css")
.form-container
  .form-top
    a.exit-button(href="/") X
  .form-inner-container
    .register-text Sign in
    .register-instructions-text Enter your email and password
    form.register-form(action="" method="post")
      input(type="hidden" name="_csrf" value=csrfToken)
      input(type="email" name="email" placeholder="youremail@domain.com")
      input(type="password" name="password" placeholder="enter password")
      button(type="submit") Sign in
    form.guest-login-form(action="" method="post")
      button.guest-button(type="submit") Guest sign in
