//- extends layout.pug
head
  title= title
  link(rel="stylesheet" href="/style.css")
  <link rel="shortcut icon" href="assets/rarefavicon.png" type="image/x-icon"/>
  <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet">

//- block content

.top-bar
      .inner-top-bar
        a.rare-logo.text-style1(href='/splash') Rare
        .sign-in-top.text-style2 Sign in
        .register-top.text-style2 Register
.parent-div
  .splash-container
    img.index-image(src="./assets/headerimage.png")
    .top-container.text-style2
      .top-container-text Read about what is important to you
    .mid-container.text-style2
      .category-text Category 1
      .category-text Category 2
      .category-text Category 3
      .category-text Category 4
      .category-text Category 5
      .category-text Category 6
    .register-button-container.text-style2
      a.register-large(href="/register") Register
      .site-description Great stories by great writers. Join now.
script(type="module" src="/js/splash.js")
include footer.pug
