doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="stylesheet" href="/style.css")
    link(rel="shortcut icon" href="assets/rarefavicon.png" type="image/x-icon")
    link(href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Raleway&display=swap" rel="stylesheet")
    link(rel="api", href=`${api}`)
  body
    .total-splash-container
      .top-bar
            .inner-top-bar
              a.rare-logo.text-style1(href='/splash') Rare
              .sign-in-top.text-style2 Sign in
              .register-top.text-style2 Register
      .splash-container
        img.index-image(src="/assets/splashimage.png")
        .splash-image-text.text-style2 Discover Something Rare
        .top-container.text-style2
          p.top-container-text Rare empowers writers to make expressive and impactful articles and share them with the world. Get access to a powerful yet familiar Markdown editor that gives you the freedom to say what you want to say, how you want to say it.
        .mid-container.text-style2
        .register-button-container
          a.register-large(href="/register") Register
          .site-description.text-style2 Social journalism at your fingertips. Join now.
    script(type="module" src="/js/splash.js")
