extends layout.pug

block content
  .story-container
    .story-title Title
    .story-subheader Subheader
    .story-author Author
    .story-date Jan 1, 2020
    .story-read-time 5 min read
  .story-body
    .sidebar-container
      .category-container
        .category Category 1
      .likes-container
        .likes Likes
  .author-info-container
    .author-text Written by
    .author-name Author name
    .author-bio Author bio here
  .comments-container
    .comment
      .commenter-name Commenter name
      .comment-date Jan 1, 2020
      .comment-body Comment body here
      .comment-likes Likes
    .comment
      .commenter-name Commenter name
      .comment-date Jan 1, 2020
      .comment-body Comment body here
      .comment-likes Likes
    .comment
      .commenter-name Commenter name
      .comment-date Jan 1, 2020
      .comment-body Comment body here
      .comment-likes Likes
  include footer.pug
  script(type='module' src='/js/stories.js')
