extends layout.pug
block content
  .total-story-container
    .story-container.text-style2
      .story-title.text-style1.story-container-text
      .story-subheader.story-container-text
      .story-author.story-container-text
      .story-date.story-container-text
      .story-read-time.story-container-text
      .story-category.story-container-text
      .story-likes.story-container-text Likes
      button.site-button.like-story-button(type="submit")
      button.site-button.edit-story-button.edit-story-button-hidden(type="submit" title="Edit your story") <i class="fas fa-cog"></i>
    .story-body.text-style2
    .author-info-container.text-style2
      .author-text Written by
      .author-name Author name
      .author-bio Author bio here
    .add-comment-container.text-style2
      form.story-form.comment-form.text-style2
        textarea#markdown-story-editor.text-style2(name="body")
        button.site-button.add-comment(type="submit") Add Comment
    .comments-container.text-style2
      .comment
        .commenter-name Commenter name
        .comment-date Jan 1, 2020
        .comment-body Comment body here
        .comment-likes Likes
      .comment
        .commenter-name Commenter name
        .comment-date Jan 1, 2020
        .comment-body Comment body here
        .comment-likes Likes
      .comment
        .commenter-name Commenter name
        .comment-date Jan 1, 2020
        .comment-body Comment body here
        .comment-likes Likes
    //- include footer.pug
  <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
  <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
  script(type='module' src='/js/stories.js')
