extends layout.pug
block content
  .total-story-container
    .story-container.text-style2
      .story-title.text-style1.story-container-text Title
      .story-subheader.story-container-text Subheader
      .story-author.story-container-text Author
      .story-date.story-container-text Jan 1, 2020
      .story-read-time.story-container-text 5 min read
      .story-category.story-container-text Category 1
      .story-likes.story-container-text Likes
        button.site-button.like-story-button(type="submit") Like this story
      button.site-button.edit-story-button.edit-story-button-hidden(type="submit") Edit your story
    .story-body.text-style2
    .author-info-container.text-style2
      .author-text Written by
      .author-name Author name
      .author-bio Author bio here
    .comments-container.text-style2
      .comment
        .commenter-name Commenter name
        .comment-date Jan 1, 2020
        .comment-body Comment body here
        .comment-likes Likes
      .comment
        .commenter-name Commenter name
        .comment-date Jan 1, 2020
        .comment-body Comment body here
        .comment-likes Likes
      .comment
        .commenter-name Commenter name
        .comment-date Jan 1, 2020
        .comment-body Comment body here
        .comment-likes Likes
    include footer.pug
  script(type='module' src='/js/stories.js')
