html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

img {
  display: block;
  max-width: 800px;
  margin: 0 auto;
}
.sidebar-positioner {
  width: 0px;
  height: 0px;
  position: relative;
}

a:visited {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(206, 245, 255);
}

.footer-container {
  background-color: rgb(20, 20, 20);
  display: flex;
  position: sticky;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  width: 100%;
  box-shadow: 0 50vh 0 50vh rgb(20, 20, 20);
}

.comments-label {
  padding: 10px;
}

.footer-content{
  display: flex;
  justify-content: flex-start;
}

.footer-text {
  padding: 30px;
  color: rgb(104, 104, 104);
}

.top-bar {
  background-color: rgb(59, 128, 255);
  position: sticky;
  top: 0;
  z-index: 99;
}

.category-italics {
  font-style: italic;
}

body {
  background-color: rgb(217, 245, 255);
}

.inner-top-bar{
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  padding: 5px;
  grid-template-areas: "logo . . . . . . . . . search newstorybutton signin register";
}

.search-bar-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  max-width: 400px;
  align-items: center;
  margin: 10px auto;
  padding: 10px;
}

.search-button {
  grid-area: search;
  color: white;
  justify-self: flex-end;
  text-align: right;
  padding-top: 10px;
  outline:none;
}

.new-story-button {
  grid-area: newstorybutton;
  justify-self: flex-end;
  text-align: right;
  padding-top: 10px;
  outline:none;
}

.rare-logo.text-style1 {
  font-size: 30px;
  grid-area: logo;
}

.sign-in-top {
  grid-area: signin;
  text-align: right;
  padding-top: 10px;
}

.register-top {
  grid-area: register;
  text-align: right;
  padding-top: 10px;
}

 .rare-logo, .sign-in-top, .register-top {
   color: white;
 }

.bio-container {
  max-width: 400px;
  background-color: white;
  margin: 10px auto;
  /* border: 1px solid black; */
}

.mid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  /* background-color: rgba(59, 128, 255, 0.1); */
  border-radius: 10px;
  border: 1px solid black;
  margin: 10px;
}

.category-text {
  padding: 10px;
  margin: 10px;
}

.register-button-container {
  /* border: 1px solid black; */
  margin: 0 auto;
  max-width: 200px;
  display: grid;
  justify-content: center;
}

.site-description {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.comment {
  border: 1px solid black;
}

.register-large {
  background-color: rgb(59, 128, 255);
  color: white;
  font-size: 32px;
  max-width: 100px;
  padding: 50px 100px;
  border-radius: 5px;
}

.splash-container {
  position: relative;
  /* border: 1px solid black; */
  border-radius: 3px;
  background-color: white;
  margin: 10px auto;
  max-width: 800px;
}

.splash-image-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 72px;
  color:white;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(0, 4, 22, 0.5);
}

.top-container {
  /* border: 1px solid black; */
  border-radius: 3px;
  margin: 10px;
}

.errors-container {
  margin: 0 auto;
}

.alert-danger {
  color: red;
}

.top-container-text {
  text-align: center;
  padding: 10px;
  font-size: 30px;
}

.profile-container {
  /* border: 1px solid black; */
  border-radius: 3px;
  background-color: white;
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  grid-template-areas:
  "leftprofile leftprofile rightprofile";
}

.furtherstories-container {
  /* border: 1px solid black; */
  border-radius: 3px;
  background-color: white;
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  justify-content: space-around;
  grid-template-areas:
  "leftprofile leftprofile leftprofile";
}

.articles-container {
  display: flex;
  flex-direction: column;
  grid-area: leftprofile;
}

.text-style1 {
  font-family: 'Abril Fatface', cursive;
  font-size: larger;
}

.text-style2 {
  font-family: 'Raleway', sans-serif;
}

.story-form {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 600px;
  box-sizing: border-box;
  padding: 10px;
}

.likes-container {
  display: flex;
  flex-direction: column;
  grid-area: rightprofile;
}

.username, .member-since, .bio {
  margin: 10px;
  padding: 10px;
}

.index-top-container {
  background-color: white;
  display: grid;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 800px;
  /* height: 500px; */
  grid-template-areas:
  "categories categories categories categories"
  "image image image image"
  "image image image image"
  "image image image image"
  "topstories topstories topstories topstories"
  "topstories topstories topstories topstories"
  "topstories topstories topstories topstories";
}

a.article-title {
  color: black;
  font-weight: bold;
}

a.user-fullname {
  font-weight: bold;
  color: black;
}

.categories-container {
  padding: 10px;
  grid-area: categories;
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
}

.category, .likes {
  padding: 5px;
}

.index-image-container {
  grid-area: image;
  max-height: 600px;
  max-width: 1000px;
}

.index-image {
  margin: 0 auto;
  object-fit: cover;
  /* max-height: 700px; */
  max-width: 800px;
}

.top-stories-and-header-container {
  background-color: white;
  margin: 10px auto;
  padding: 10px;
  max-width: 1000px;
  /* display: flex; */
  justify-content: space-evenly;
  margin-top: 10px;
  box-sizing: border-box;
}

.top-stories-header {
  margin: 100px;
}

.top-stories-container {
  background-color: white;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  grid-area: topstories;
}

.article-container {
  /* border-bottom: 1px solid black; */
  /* box-shadow: 2px 3px black; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 20px;
  margin: 20px;
  min-width: 250px;
  display: grid;
  grid-template-areas:
  "title title title likes"
  "subheader subheader subheader subheader"
  "author author author author"
  "date date date time";
}

.article-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

a.rare-logo-footer {
  color:rgb(104, 104, 104);
  padding: 30px;
}

.heading-text {
  color: white;
  background-color: rgb(59, 128, 255);
  padding: 10px;
  margin: 10px;
  /* border: 1px solid black; */
}

.article-title {
  grid-area: title;
  font-size: large;
  padding-bottom: 10px;
}

.article-subheader {
  grid-area: subheader;
  color: gray;
  padding-bottom: 8px;
}

.article-author {
  grid-area: author;
  padding-bottom: 5px;
}
.article-date {
  grid-area: date;
  color: gray;
  font-size: smaller;
  padding-bottom: 4px;
}

.article-time {
  grid-area: time;
  text-align: right;
  color: gray;
  font-size: smaller;
}
.article-likes {
  grid-area: likes;
  text-align: end;
  padding-left: 50px;
  color: gray;
  font-size: smaller;
}

.main-stories-container {
  background-color: white;
  display: grid;
  padding-top: 10px;
  max-width: 1000px;
  margin: 0 auto;
  grid-template-areas:
  "lefts lefts rights"
  "lefts lefts rights";
}

.main-search-container.hidden {
  display: none;
}

.main-search-container {
  background-color: white;
  display: grid;
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "leftsearch leftsearch rightsearch";
}

.user-container {
  flex-grow: 1;
  /* border: 1px solid black; */
  /* box-shadow: 2px 3px black; */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.user-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.not-found-container {
  background-color: white;
  max-width: fit-content;
  margin: 50px;
  padding: 50px;
  border-radius: 3px;
}

.articles-search-container {
  grid-area: leftsearch;
}

.users-search-container {
  grid-area: rightsearch;
}

.main-stories-left {
  grid-area: lefts;
}

.main-stories-right {
  grid-area: rights;
}

.form-container {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 3px;
}

.story-container {
  max-width: 600px;
  box-sizing: border-box;
  display: grid;
  grid-template-areas:
  "title title title title"
  "subheader subheader subheader subheader"
  "author category . ."
  "date time . ."
  "editbutton . likebutton likes";
}

.edit-story-button {
  grid-area: editbutton;
  outline:none;
  width: 50px;
  justify-self: left;
  /* height: 30px; */
}

.like-story-button {
  grid-area: likebutton;
  outline:none;
  width: 50px;
  justify-self: right;
  /* height: 30px; */
}

.story-date, .story-read-time, .story-category {
  color: gray;
  font-size: smaller;
}

.story-date {
  grid-area: date;
}

.story-read-time {
  grid-area: time;
}

.story-category {
  grid-area: category;
}

.story-author {
  grid-area: author;
}

.story-likes {
  grid-area: likes;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.story-subheader {
  font-size: larger;
  grid-area: subheader;
}

.story-container-text {
  padding: 5px;
}

.story-container, .author-info-container, .comments-container {
  max-width: 600px;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  margin: 10px auto;
}



.comment {
  padding: 10px;
  margin: 10px;
}

.story-body {
  position: relative;
  box-sizing: border-box;
  max-width: 800px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
}

.sidebar-container {
  top: 50px;
  left: -200px;
  max-width: 150px;
  position: absolute;
  background-color: white;
  /* border: 1px solid black; */
}

.form-top {
  display: grid;
  border-radius: 2px;
  background-color: rgb(59, 128, 255);
  grid-template-areas: ". . . . . . . . . . exitbutton";
}

.form-inner-container, .register-text, .register-instructions-text {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
}

.register-form {
  padding: 20px;
  display: flex;
  margin: 0 auto;
  width: 50%;
  flex-direction: column;
}

.guest-login-form, .guest-button {
  max-width: 400px;
  margin: 10px auto;
  outline:none;
}

button.edit-story-button {
  margin: 10px;
  outline:none;
}


.edit-story-button-hidden {
  display: none;
  outline:none;
}

button.like-story-button {
  margin: 10px;
  outline:none;
}

button.like-comment-button {
  margin: 10px;
  outline:none;
}
input, select {
  max-width: 100%;
  padding: 5px;
  margin: 5px;
}

.exit-button {
  margin: 10px;
  color: white;
  text-align: right;
  grid-area: exitbutton;
  outline:none;
}

.site-button {
  background-color: rgb(59, 128, 255);
  color: white;
  /* font-size: 32px; */
  /* padding: 50px 100px; */
  border-radius: 5px;
  border: 1px solid;
  margin: 0 auto;
  padding: 10px;
  max-width: 100px;
  cursor: pointer;
  outline:none;
}

.site-button:hover {
  background-color: rgb(130, 205, 255);
  color: white;
  outline:none;
}

.story-title {
  font-size: 50px;
  grid-area: title;
}

.button-disabled {
  /* pointer-events: none; */
  background-color: grey;
  color: white;
  outline:none;
}

div.scrollmenu {
  background-color: rgb(59, 128, 255);
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  color: rgb(206, 245, 255);
}

.guest-login-form {
  display: inline-block;
}
