html, body {
  margin:0;
  padding:0;
}

a:visited {
  color: white;
}

.footer-container {
  background-color: rgb(20, 20, 20);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
}

.footer-content{
  display: flex;
  justify-content: flex-start;
}

.footer-text {
  padding: 30px;
  color: rgb(104, 104, 104);
}

.top-bar {
  background-color: rgb(59, 128, 255);
}

body {
  background-color: rgb(217, 245, 255);
}

.inner-top-bar{
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  padding: 5px;
  grid-template-areas: "logo . . . . . . . . . searchbar signin register";
}

.search-bar {
  grid-area: searchbar;
  justify-self: flex-end;
  max-height: 10px;
}

.rare-logo {
  grid-area: logo;
}

.sign-in-top {
  grid-area: signin;
  text-align: right;
  padding-top: 10px;
}

.register-top {
  grid-area: register;
  text-align: right;
  padding-top: 10px;
}

 .rare-logo, .sign-in-top, .register-top {
   color: white;
 }

.bio-container {
  max-width: 400px;
  background-color: white;
  margin: 10px auto;
  border: 1px solid black;
}

.mid-container {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
  margin: 30px;
}

.register-button-container {
  /* border: 1px solid black; */
  margin: 0 auto;
  max-width: 200px;
  display: grid;
  justify-content: center;
}

.site-description {
  text-align: center;
  font-size: 25px;
  padding: 20px;
}

.register-large {
  background-color: rgb(59, 128, 255);
  color: white;
  font-size: 32px;
  max-width: 100px;
  padding: 50px 100px;
  border-radius: 5px;
}

.splash-container {
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  margin: 10px auto;
  max-width: 800px;
}

.top-container {
  border: 1px solid black;
  border-radius: 3px;
  margin: 50px;
}

.errors-container {
  margin: 0 auto;
}

.alert-danger {
  color: red;
}

.top-container-text {
  text-align: center;
  padding: 50px;
  font-size: 30px;
}

.profile-container {
  border: 1px solid black;
  border-radius: 3px;
  background-color: white;
  margin: 0 auto;
  max-width: 800px;
  display: grid;
  grid-template-areas:
  "leftprofile leftprofile rightprofile";
}

.articles-container {
  display: flex;
  flex-direction: column;
  grid-area: leftprofile;
}

.text-style1 {
  font-family: 'Abril Fatface', cursive;
  font-size: larger;
}

.text-style2 {
  font-family: 'Raleway', sans-serif;
}

.story-form {
  margin: 0 auto;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  max-width: 800px;
  padding: 10px;
}

.likes-container {
  display: flex;
  flex-direction: column;
  grid-area: rightprofile;
}

.username, .member-since, .bio {
  margin: 10px;
  padding: 10px;
}

.index-top-container {
  background-color: white;
  display: grid;
  margin: 0 auto;
  max-width: 800px;
  /* height: 500px; */
  grid-template-areas:
  "categories categories categories categories"
  "image image image image"
  "image image image image"
  "image image image image"
  "topstories topstories topstories topstories"
  "topstories topstories topstories topstories"
  "topstories topstories topstories topstories";
}

.categories-container {
  padding: 10px;
  grid-area: categories;
  display: flex;
  justify-content: center;
}

.category {
  padding: 5px;
}

.index-image-container {
  grid-area: image;
  max-height: 600px;
  max-width: 1000px;
}

.index-image {
  margin: 0 auto;
  object-fit: cover;
  /* max-height: 700px; */
  max-width: 800px;
}

.top-stories-container {
  background-color: white;
  margin: 0 auto;
  max-width: 800px;
  display: flex;
  justify-content: space-between;
  grid-area: topstories;
}

.article-container {
  flex-grow: 1;
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  display: grid;
  grid-template-areas:
  "title title title likes"
  "subheader subheader subheader subheader"
  "author author author author"
  "date date date time";
}

.heading-text {
  color: white;
  background-color: rgb(59, 128, 255);
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}

.article-title {
  grid-area: title;
}

.article-subheader {
  grid-area: subheader;
}

.article-author {
  grid-area: author;
}
.article-date {
  grid-area: date;
}

.article-time {
  grid-area: time;
  text-align: right;
}
.article-likes {
  grid-area: likes;
  text-align: end;
}

.main-stories-container {
  background-color: white;
  display: grid;
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
  grid-template-areas:
  "lefts lefts rights"
  "lefts lefts rights";
}

.main-stories-left {
  grid-area: lefts;
}

.main-stories-right {
  grid-area: rights;
}

.form-container {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 3px;
}

.story-container, .author-info-container, .comments-container {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 10px auto;
}

.comment {
  margin: 10px;
}

.story-body {
  position: relative;
  max-width: 800px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
}

.sidebar-container {
  top: 50px;
  left: -200px;
  max-width: 150px;
  position: relative;
  background-color: white;
  border: 1px solid black;
}

.form-top {
  display: grid;
  border-radius: 3px;
  background-color: rgb(59, 128, 255);
  grid-template-areas: ". . . . . . . . . . exitbutton";
}

.form-inner-container, .register-text, .register-instructions-text {
  display: flex;
  margin: 10px auto;
  flex-direction: column;
}

.register-form {
  padding: 20px;
  display: flex;
  margin: 0 auto;
  width: 50%;
  flex-direction: column;
}

.guest-login-form, .guest-button {
  max-width: 400px;
  margin: 10px auto;
}

input {
  max-width: 600px;
  padding: 5px;
  margin: 5px;
}

.exit-button {
  margin: 10px;
  color: white;
  text-align: right;
  grid-area: exitbutton;
}

button {
  margin: 10px auto;
  padding: 10px;
  max-width: 100px;
}
