doctype html
html(lang="en")
  head
    link(rel="stylesheet" href="./style.css")
  body
    .top-bar
      .inner-top-bar
        .rare-logo Rare
        a.sign-in-top(href="/signin") Sign in
        a.register-top(href="/register") Register
block content
