extends layout.pug

block content
  .background-container
    .splash-container
      .top-container
        .top-container-text Read about what is important to you
      .mid-container
        .category-text Category 1
        .category-text Category 2
        .category-text Category 3
        .category-text Category 4
        .category-text Category 5
        .category-text Category 6
      .large-register-button Register
      .site-description Great stories by great writers. Join now.
      include footer.pug
